<div class="container mt-5">
  <div class="mb-3">
    <%= link_to '< Restaurants', restaurants_path, class: 'btn-light opacity-25 text-decoration-none' %>
  </div>
  <h1>Upload a Restaurant</h1>
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::CUISINE %>
    <%= f.submit class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
